{% extends "layout.html" %}
{% set active_page = "sign_in" %}

{% block content %}

  {% if error %}
      <p><strong>Error:</strong> {{ error }}
  {% endif %}


  <h2>Your modern medical encyclopedia.</h2>


    <form action="{{ url_for('show_results') }}" method="post">
        <p><br /></p>

        <label for="searchTerm" class="sr-only"></label>
        <input type="text" name="searchTerm" class="form-control" placeholder="e.g. mesothelioma, endarterectomy" required autofocus>
        
        <p><br /></p>

        <input type="submit" class="btn btn-lg btn-success" value="Search" id="searchSubmit">

    </form>

{% endblock %}